{{#if menuItem.isShowMenuDiv}}
<a class="itemdiv">
  {{menuItem.name}}
</a>
{{/if}}

{{#if isShowMenu}}
<div class="ui vertical menu">
  {{#each menuObj as | item |}}
  {{#if menuObj.arrowClass}}
  <div class="ui dropdown item {{if isShowSubMenu 'active visible' ''}}">
    {{item.name}}
    <i class="dropdown icon"></i>
    <!-- {{#if subMenuObj.length}}
    <div class="menu {{if isShowSubMenu 'transition visible' 'transition hidden'}}" id="submenudiv" style="display:{{if isShowSubMenu 'block' 'none'}}">
    {{#each subMenuObj as | item |}}
    <a class="item"> {{item.subname}}
    <i class="icon" style="color:#949191;font-size:15px;padding:2px 0px 0px 35px">{{item.type}}</i>
  </a>
  {{/each}}
</div>
{{/if}} -->
</div>

{{else}}
<a id="showmenudiv" class="item">
  {{item.name}}
</a>
{{/if}}
{{/each}}
</div>
{{/if}}
