<div class="header">
    <span>{{dialogOptions.title}}</span>
</div>
<div class="content">
    {{#if componentName}}
        {{component componentName}}
    {{else}}
        {{yield}}
    {{/if}}
</div>
<div class="button-container">
    <button class="ui green button" {{action 'success'}}>{{dialogOptions.successLabel}}</button>
    <button class="ui button" {{action 'cancel'}}>{{dialogOptions.cancelLabel}}</button>
</div>
