{{#if folderItem.hasSubfolder}}
    <span class="{{if folderItem.hasSubfolder 'icon-space subfolder-icon'}} {{if folderItem.treeOpened 'open-tree'}}" {{action "toggleSubFolder"}}></span>
{{/if}}
{{#if iconClass}}
    <span class="custom-folder-icon-space {{iconClass}}"></span>
{{/if}}
{{#if isRadioType}}
    <label class="each-item-label">
        <input type="radio" name="folder-item" checked="{{if folderItem.selected 'checked'}}" />
        <span class="res_name_space"> {{folderItem.label}} </span>
    </label>
{{else}}
    <span class="res_name_space"> {{folderItem.label}} </span>
{{/if}}
{{#if folderItem.children.length}}
    {{folder-tree nameOfComponent=nameOfComponent folderTreeList=folderItem.children on-active=on-active iconClass=iconClass isRadioType=isRadioType}}
{{/if}}
