
<div class="ui radio checkbox">
  <input type="radio" name="font" checked={{fonts.inherit}} onClick={{action 'changeFont' 'inherit'}}>
  <label> Inherit </label>
</div>

<div class="ui radio checkbox">
  <input type="radio" name="font" checked={{fonts.monospace}} onClick={{action 'changeFont' 'monospace'}}>
  <label> Monospace </label>
</div>

<div class="ui radio checkbox">
  <input type="radio" name="font" checked={{fonts.serif}} onClick={{action 'changeFont' 'serif'}}>
  <label> Serif </label>
</div>

<div class="ui radio checkbox">
  <input type="radio" name="font" checked={{fonts.cursive}} onClick={{action 'changeFont' 'cursive'}}>
  <label> Cursive </label>
</div>

<div class="ui radio checkbox">
  <input type="radio" name="font" checked={{fonts.fantacy}} onClick={{action 'changeFont' 'fantacy'}}>
  <label> Fantacy </label>
</div>
