<div  class="ui vertical menu" id="showmenudiv">
{{#each displayedChildren as |displayedChild|}}
<a class="item" id ="{{displayedChild.id}}" isChildren={{displayedChild.isSubMenu}} tabindex="{{displayedChild.tab_index}}">
  <i class="{{displayedChild.icon}} menuitem"></i>
  <div style="padding-left: 29px;">{{displayedChild.name}}</div>
  <i class="{{displayedChild.arrowClass}} icon" style="margin-top: -11px;font-size: 10px;margin-right: 4px;color: grey;">{{displayedChild.type}}</i>
</a>
{{/each}}
</div>

{{#each displayedChildren as |displayedChild|}}
{{#if displayedChild.children}}
<div id="{{displayedChild.id}}_div" style="display:none;">
{{menu-component menuNode=displayedChild.children}}
</div>
{{/if}}
{{/each}}
