{{#if isMoreMenu}}
<div class="moremenudiv" {{action "showMoreMenu" post on="mouseUp"}} >Click Me</div>
{{/if}}


<div  class="ui vertical menu" id="showmenudiv">
  {{#if displayedItem}}
  {{#each displayedChildren as |displayedChild|}}
  <a class="item" id ="{{displayedChild.id}}">
    <i class="{{displayedChild.icon}} menuitem"></i>
    <i class="{{displayedChild.arrowClass}} icon"> {{displayedChild.type}}</i> {{displayedChild.name}}
  </a>
  {{/each}}
  {{/if}}
</div>


{{#each displayedChildren as |displayedChild|}}
{{#if displayedChild.children}}
<div id="{{displayedChild.id}}_div">
  {{menu-component menuNode=displayedChild.children}}
</div>
{{/if}}
{{/each}}
