{{files-list}}
<div class="upload-to-placeholder">
    <div class="ui grid">
        <div class="row">
            <div class="five wide column right aligned">
                <span class="mid-aligned"> Upload To: </span>
            </div>
            <div class="eight wide column">
                <div class="ui selection dropdown">
                    <input name="gender" type="hidden" value="1">
                    <i class="dropdown icon"></i>
                    <div class="default text">Value</div>
                    <div class="menu">
                        {{#each requiredService.recentFolders as | folder index |}}
                            <div class="item" data-value="{{index}}"> {{folder.name}} </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <a class="mid-aligned anchor" {{action 'showFoldersView'}}> Change </a>
            </div>
        </div>
    </div>
    {{#if isShowFolderList}}
        <div class="folderTreeContainer change-folder-list">
            <div class="folder-tree-container">
                {{folder-tree folderTreeList=requiredService.ownedTreeList on-active=(action 'selectFolder') isRadioType=true}}
            </div>
        </div>
    {{/if}}
</div>
