
<div class='cust_flds'>

  <h4> Custom Fields </h4>
  <hr>


  <div class="ui two column centered grid">

    <div class="column row">
      <div class="column fluid"> {{cf-label value='Field type : '}}</div>
      <div class="column fluid">{{cf-drop-down model=ddController.field_types def_value='Single line text' }}</div>
    </div>


    {{#each cfService.render_Obj as | field |}}
      <div class="column row">
        <div class="column fluid"> {{cf-label value=field.label}}</div>
        <div class="column fluid"> {{component field.type place_holder=field.text obj=field model=field.model def_value=field.value value=field.value }}</div>
      </div>
    {{/each}}

    <div class="column row">
      <div class="column fluid"> </div>
      <div class="column fluid">
        <div class="ui checkbox">
          <input type="checkbox">
          <label>Mandatory</label>
        </div>
      </div>
    </div>

    <div class="column row">
      <div class="column fluid"> </div>
      <div class="column fluid">
        <div class="ui checked checkbox">
          <input type="checkbox" checked="">
          <label>Request On Upload/Add</label>
        </div>
      </div>
    </div>

    <div class="column row">
      <div class="column fluid"></div>
      <div class="column fluid">
        <button class="ui primary button" {{action cfService.addCF}} >Save</button>
        <button class="ui button" {{action cfService.discard}} >Cancel</button>
      </div>
    </div>

  </div>

</div>


{{#if cfService.new_fields}}
  <div class="ui two column grid cf-container inline">
    <div class="column">
      <div class="ui raised segment">
        <a class="ui red ribbon label"> {{cfService.field_header}} </a>
        {{#each cfService.new_fields as | field | }}
          <div class='cf-comp'>
            <span>  <i>{{ field }} </i></span>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
