<div class="ui message">

  <b>Notification Message:-</b>
  <br>
  <br>
    <div class="ui input focus">
      {{input type="text" data-placement="bottom" value=defaultvalue}}
    </div>
  <br>
  <br>
    <b>Notification Type:-</b>
  <br>
  <br>

    <input type="checkbox" {{action "closeIcon"}}>
    <label>With Close Icon</label>

  <br>
  <br>

  <button {{action 'errorMsg' "error"}} class="ui red  button">Error</button>
  <button {{action 'errorMsg' "warning"}} class="ui orange  button">Warning</button>
  <button {{action 'errorMsg' "regular"}} class="ui teal  button">Regular</button>
  <button {{action 'errorMsg' "success"}} class="ui green  button">Success</button>

    <br>
    <br>
    <br>

</div>
    {{#if is_notify}}
    <div  class="ui Ndiv">
        {{notification-selector color=errormode label=defaultvalue}}
    </div>

    {{/if}}
